# Copy this file to /etc/systemd/system/luksctl-api.service
# and adjust it following your configuration path

[Unit]
Description=Gunicorn instance to serve luksctl api server
After=network.target

[Service]
User=luksctl_api
Group=luksctl_api
WorkingDirectory=/home/luksctl_api/luksctl_api
Environment="PATH=/home/luksctl_api/luksctl_api/venv/bin"
ExecStart=/home/luksctl_api/luksctl_api/venv/bin/gunicorn --workers 2 --bind 0.0.0.0:5000 -m 007 --certfile=/etc/luks/cert.pem --keyfile=/etc/luks/key.pem app:app

[Install]
WantedBy=multi-user.target
